<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payment Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style5.css}" />
</head>
<body>
<!-- Navbar -->
<div th:replace="fragments/navbar :: navbar"></div>


<div class="container2">
    <h3 th:text="${payment.id == null} ? 'Add New Payment' : 'Edit Payment'"></h3>
<form th:action="@{/payments}" th:object="${payment}" method="post">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{booking.id}" />

    <div>
        <label for="transactionDate">Transaction Date:</label>
        <input type="date" id="transactionDate" th:field="*{transactionDate}" required />
    </div>

    <div>
        <label for="amountPaid">Amount Paid:</label>
        <input type="number" id="amountPaid" th:field="*{amountPaid}" required />
    </div>
    <div>
        <label for="receiptNo">Receipt Number:</label>
        <input type="text" id="receiptNo" th:field="*{receiptNo}" required />
    </div>

    <div>
        <label for="paymentMethod">Payment Method:</label>
        <select id="paymentMethod" th:field="*{paymentMethod}" required>
            <option value="CREDIT_CARD">Credit Card</option>
            <option value="BANK_TRANSFER">Bank Transfer</option>
            <option value="PAYPAL">PayPal</option>
            <option value="CASH">Cash</option>
        </select>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
    <a th:href="@{/bookings/details/{id}(id=${payment.booking.id})}">Cancel</a>
</div>
</body>
</html>
